/* imported in App.jsx */

.navbar {
  margin-bottom: 2em;
  box-shadow: none;
}

.nav-left{
  display: flex;
  flex-grow: 1;
}

.nav-right{
  display: flex;
  align-items: center;
}

.navbar a {
  color:white;
  opacity: 0.5;
}

.navbar a:hover {
  opacity: 0.9;
}

.logout{
  color:white;
  opacity: 0.5;
  cursor: pointer;
}.logout:hover{
  opacity: 0.9;
}

.avatar-logo{
  margin: 0 1em;
}