/* imported in App.jsx */

.list {
    width: 50vw;
    margin: auto;
}

.item {
    display: flex;
    align-items: center;
    padding: 1px;
    margin: 1px;
}

.item:nth-child(odd) {
    /* background-color: #98D2C0; */
    background-color: transparent;
}

.item:nth-child(even) {
    /* background-color: #4F959D; */
    background-color: transparent;
}

.item-info:has(>input[type='checkbox']:checked) {
    text-decoration: line-through;
    font-style: italic;
    opacity: 0.5;
}

.item-info {
    display: inline-flex;
    flex-grow: 1;
}

.item-info:hover {
    background-color: antiquewhite;
}

.item-buttons {
    margin-left: 0.5em;
    margin-right: 1em;
    display: flex;
}

.item-info>label {
    cursor: pointer;
    flex-grow: 1;
    margin-left: 0.5em;
}

.icon {
    cursor: pointer;
    margin: 0 0.1em;
}

.icon:hover {
    filter: drop-shadow(1px 1px 5px rgb(212, 214, 214));
}

.edit {
    display: flex;
    align-items: center;
}

.edit-text {
    padding: 0.6em;
}

.pencil,
.trash {
    margin-right: 0.3em;
    color: rgb(75, 77, 79)
}

.pencil:hover,
.trash:hover {
    color: black
}

.landing-outer{
    text-align: center;
    /* border: 1px solid black; */
}

.landing-inner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    margin:2em
    /* max-width: 80vw;
    margin: auto; */
}

.landing-option{
    padding: 1em;
    box-shadow: 1px 1px 5px 2px #8c8c8c;
    flex: 1;
    max-width: 600px;
}

.landing-option h2{
    margin: 0;
}

.landing-description ul{
    list-style: none;
    padding: 0;
    font-family: monospace;
    color: #9d9c9c;
}

.landing-btn-div{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 0.1em
}

.landing-inner button{
    width: 200px;
}