/* stylesheet for mobile devices */

@media (max-width: 1250px) {
  .list{
    width: auto;
    margin: auto;
  }
  .landing-description{
    font-size: 0.9em;
    padding: 0 1em;
  }
  .item{
    font-size: 0.9em;
  }
}