/* stylesheet for mobile devices */

@media (max-width: 1250px) {
  .list{
    width: auto;
    margin: auto;
  }
  .landing-description{
    font-size: 0.9em;
    padding: 0 1em;
  }
  .item{
    font-size: 0.9em;
  }
  .navbar{
    margin-bottom: 0.5em;
  }
  .edit-text{
    max-width: 70vw;
  }
  .landing-outer>h1{
    margin: 0.3em 0 ;
    font-size: 1.4em;
  }
  .landing-avatar{
    font-size: 3em !important ;
  }
  .landing-option{
    padding: 0.5em 0;
  }
  .landing-option > h2{
    font-size: 1.2em;
  }
  .landing-inner{
    row-gap: 1em;
    margin: 0.1em 1em;
  }
}