/* imported in App.jsx */

.auth-form{
    width: 300px;
    margin: auto;
}

.auth-input{
    padding: 0.8em;
    margin-bottom: 1em;
    width: 100%;
}
.auth-input:not(submitBtn){
    padding-right: 2.5em;
}

.auth-input:focus{
    border: 2px solid #5551ff;
}

.auth-error-message{
    color: rgb(164 100 100);
    margin-top: -0.8em;
    margin-bottom: 0.1em;
}

.errorMsg{
    padding: 0.5em;
    background-color: rgb(198 75 75);
    color: white;
    margin: 0.1em 0.1em 0.5em;
    text-align: center;
    border: 1px solid red;
}

/* section:has(.err)::before{
    content: "✓";
    position: relative;
    top: 2em;
    left: 15em;
} */
